<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= image_tag "logo_careerPal_white.svg" %><%= image_tag "logo_careerPal_naming_white.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", profile_path() , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Instructions", instructions_path(), class: "nav-link" %>
          </li>
          <li class="nav-item form-check form-switch me-5 ms-5">
          <!-- slider //-->
            <%# <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Ready for call</label> %>
            <label class="form-check-label" for="flexSwitchCheckDefault">
              <%= link_to videocall_path(Videocall.last), method: :get, class: "nav-link", id: "latest-video-call-btn" do %>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                Ready for call
              <% end %>
            </label>
          <!-- slider end //-->
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", profile_path(), class: "dropdown-item my-dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item my-dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
