<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <%= image_tag "logo_careerPal_white.svg" %><%= image_tag "logo_careerPal_naming_white.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path() , class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Dashboard", profile_path() , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Instructions", instructions_path(), class: "nav-link" %>
          </li>
          <li class="nav-item form-check form-switch me-5">

          <!-- slider //-->
          <% unless (params[:controller].include?("videocalls")) %>
            <div data-controller="toggle-switch">
              <form>
                <label class="toggle" for="toggle-switch" data-action="click->toggle-switch#switchBtn">
                  <input type="checkbox" id="toggle-switch" data-toggle-switch-target="button" data-bs-toggle="modal" data-bs-target="#modal">
                  <span class="slider"></span>
                  <span class="labels" data-on="Ready for call" data-off="Not ready for call"></span>
                </label>
              </form>

              <!-- hidden Modal -->
              <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalLabel">We have found your Pal!</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="click->toggle-switch#deactivateBtn"></button>
                    </div>
                    <div class="modal-body">
                    Are your ready to start the call?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary btn-outline-secondary-antje" data-action="click->toggle-switch#deactivateBtn" data-bs-dismiss="modal">Close</button>
                      <%= link_to 'Start Video Call', new_videocall_path, class:"btn btn-secondary btn-secondary-antje" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
          <!-- slider end //-->

          <!--<%= link_to 'new video call', new_videocall_path %>-->

          </li>
          <li class="nav-item dropdown">
            <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle avatar-pointer", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", profile_path(), class: "dropdown-item my-dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item my-dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path(), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
