<section id="home-hero" class="bg-circle">
    <div class="hero-img">
      <%= image_tag "halfcircle_home_hero.svg", class:"circle-home-hero"%>
    </div>
    <div class="container d-flex justify-content-center">
    <div class="row justify-content-center my-auto">
          <div class="col text-center">
            <h1 class="display-2">Get The Job <br> Impress Your Mum</h1>
            <p>Anxious about your first job interview? <br>Practice with your CareerPal!</p>
            <%# <a href="about.html" class="btn btn-antje btn-secondary btn-secondary-antje btn-lg">Lets Get Started</a> %>
            <%= link_to "Lets Get Started", profile_path() , class: "btn btn-antje btn-lg btn-secondary btn-secondary-antje mt-3" %>
        </div>
      </div>
    </div>
</section>

<section id="how-it-work mb-4">
    <div class="container d-flex justify-content-center">
      <div class="row justify-content-center my-auto pb-5">

          <h1 class="display-3 text-center mb-5">How It Works</h1>
          <div class="col-md-9">

            <div class="hiw-item d-flex align-items-center justify-content-end">
              <div class="hiw-icon order-md-2">
                <%= image_tag "icon_hiw_step_1.svg" %>
              </div>
              <div class="hiw-text text-left order-md-1">
                <p>SignUp. Fill out the CV form or connect your Linked In Account</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block">
                <%= image_tag "hiw_dashed_line_step_1.svg", class:"dashed-line-1"%>
              </div>
            </div>

            <div class="hiw-item d-flex align-items-center">
              <div class="hiw-icon">
                <%= image_tag "icon_hiw_step_2.svg" %>
              </div>
              <div class="hiw-text text-left">
                <p>Get matched with another Pal online and start the video call</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block">
                <%= image_tag "hiw_dashed_line_step_2.svg", class:"dashed-line-2"%>
              </div>
            </div>

            <div class="hiw-item d-flex align-items-center justify-content-end">
              <div class="hiw-icon order-md-3">
                <%= image_tag "icon_hiw_step_3.svg" %>
              </div>
              <div class="hiw-text text-left order-md-2">
                <p>Switch roles between interviewer & interviewee</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block order-md-1"></div>
            </div>

            <div class="hiw-item d-flex align-items-center">
              <div class="hiw-icon" style="margin-left: 0.2em;">
                <%= image_tag "icon_hiw_step_4.svg" %>
              </div>
              <div class="hiw-text text-left">
                <p>Get feedback to improve and then nail your next real interview!</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block">
              <%= image_tag "hiw_dashed_line_step_4.svg", class:"dashed-line-3"%>
              </div>
            </div>

          </div>
      </div>
    </div>
</section>

<section class="top-blog-articles article-1 bg-primary-100 mt-5">
  <div class="container d-flex">
    <div class="row my-auto">
      <div class="col-md-6 align-self-center py-5">
        <h1 class="display-3">Speakers Coaching</h1>
        <p>Secure your next role by learning to identify your weaknesses, by promoting your strengths and by overcoming nerves and anxiety</p>
        <a href="about.html" class="btn btn-antje btn-outline-primary btn-outline-primary-antje btn-lg">Read more</a>
      </div>
    </div>
  </div>
</section>

<section id="blog-articles">
  <div class="container flex-row">
    <div class="row justify-content-center mt-5">


      <div class="col-md-3">
        <div class="card blog-article-card mb-5 grow">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Teamwork makes the dream work</h5>
            <p class="card-text">Effective teamwork achieves much more than any individual can! What is challenging...</p>
            <a href="https://www.peoplehum.com/blog/teamwork-makes-the-dream-work" target="_blank" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card blog-article-card mb-5 grow">
          <img class="card-img-top" src=https://images.unsplash.com/photo-1498712938623-d2bee166c195?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The surprising secret to landing your dream job</h5>
            <p class="card-text">Sending off 1000 job applications to find your dream job probably won’t work...</p>
            <a href="https://blog.lounjee.com/the-surprising-secret-to-landing-your-dream-job/" target="_blank" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card blog-article-card mb-5 grow">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1459499362902-55a20553e082?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1910&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">How To Overcome Anxiety for interviews</h5>
            <p class="card-text">You’ve got a big job interview coming up. This could be it. Feeling anxious yet?..</p>
            <a href="https://www.careerjunction.co.za/blog/overcome-anxiety-interview/" target="_blank" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card blog-article-card mb-5 grow">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">What skills should I put on my CV?</h5>
            <p class="card-text">Listing your skills on your CV the correct way is vital to being noticed or considered for the job...</p>
            <a href="https://www.careerjunction.co.za/blog/what-skills-should-i-put-on-my-cv/" target="_blank" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-md-4 d-flex justify-content-center">
         <a href="#" class="btn btn-antje btn-secondary btn-secondary-antje">Visit Our Blog</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary-100 top-blog-articles article-2">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-end my-auto">
      <div class="col-md-6 py-5">
        <h1 class="display-3">Career Advice</h1>
        <p>Your career evolves, just as you do. From workplace issues to negotiating for a better salary or raise, we’ve got you covered.</p>
        <a href="https://www.careerjunction.co.za/blog/career-advice/" class="btn btn-antje btn-outline-primary btn-outline-primary-antje btn-lg">Read More</a>
      </div>
    </div>
  </div>
</section>

<section id="team-section" class="my-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <h1 class="text-primary pb-3">Meet The Creators</h1>
        </div>
      </div>
    </div>
    <div class="row">

      <!--card-->
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card h-100 grow">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/122166852?v=4" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Lukas</h3>
            <h6 class="subtitle">Fullstack Dev</h6>
            <p>"Berlin based aspiring full-stack developer with a focus on Ruby on rails and Javascript"</p>
          </div>
          <div class="d-flex justify-content-center bg-primary-50">
            <div class="p-3">
              <a href="https://www.linkedin.com/in/lukasschanderl/">
                <i class="text-primary fab fa-linkedin"></i>
              </a>
            </div>
            <div class="p-3">
              <a href="https://github.com/LukasSchanderl">
                <i class="text-primary fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--card-->
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card h-100 grow">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/58730400?v=4" alt="Marina" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Marina</h3>
            <h6 class="subtitle">Fullstack Dev</h6>
            <p>"Berlin-based media designer, working with animation, UX/UI & other visuals. Always looking for interesting collaborations and new opportunities!"</p>
          </div>
          <div class="d-flex justify-content-center bg-primary-50">
            <div class="p-3">
              <a href="http://linkedin.com">
                <i class="text-primary fab fa-linkedin"></i>
              </a>
            </div>
            <div class="p-3">
              <a href="https://github.com/memymilk">
                <i class="text-primary fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--card-->
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card h-100 grow">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/118263535?v=4" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Giulia</h3>
            <h6 class="subtitle">Fullstack Dev</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quis fuga aliquam asperiores! Id, culpa adipisicing elit dolor sit amet.</p>
          </div>
          <div class="d-flex justify-content-center bg-primary-50">
            <div class="p-3">
              <a href="http://linkedin.com">
                <i class="text-primary fab fa-linkedin"></i>
              </a>
            </div>
            <div class="p-3">
              <a href="https://github.com/giuliazeni">
                <i class="text-primary fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--card-->
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card h-100 grow">
          <div class="card-body">
            <img src="https://avatars.githubusercontent.com/u/68593523?v=4" alt="" class="img-fluid rounded-circle w-50 mb-3">
            <h3>Antje</h3>
            <h6 class="subtitle">Fullstack Dev</h6>
            <p>"Seeking to expand my horizons and engage in innovative collaborations. I am a Berlin-based graphic designer, UI/UX designer and webdeveloper."</p>
          </div>
          <div class="d-flex justify-content-center bg-primary-50">
            <div class="p-3">
              <a href="http://linkedin.com">
                <i class="text-primary fab fa-linkedin"></i>
              </a>
            </div>
            <div class="p-3">
              <a href="https://github.com/kikarikiki">
                <i class="text-primary fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "newsletter" %>
