<section id="home-hero" class="bg-circle">
    <div class="hero-img">
      <%= image_tag "halfcircle_home_hero.svg", class:"circle-home-hero"%>
    </div>
    <div class="container d-flex justify-content-center">
    <div class="row justify-content-center my-auto">
          <div class="col text-center">
            <h1 class="display-2">Get The Job <br> Impress Your Mum</h1>
            <p>Anxious about your first job interview? Practice with your CareerPal!</p>
            <a href="about.html" class="btn btn-antje btn-secondary btn-secondary-antje btn-lg">Lets Get Started</a>
        </div>
      </div>
    </div>
</section>

<section id="how-it-work">
    <div class="container d-flex justify-content-center">
      <div class="row justify-content-center my-auto py-5">

          <h1 class="display-3 text-center mb-5">How It Works</h1>
          <div class="col-md-9">

            <div class="hiw-item d-flex align-items-center justify-content-end">
              <div class="hiw-icon order-md-2">
                <%= image_tag "icon_hiw_step_1.svg" %>
              </div>
              <div class="hiw-text text-left order-md-1">
                <p>SignUp. Fill out the CV form or connect your Linked In Account</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block">
                <%= image_tag "hiw_dashed_line_step_1.svg", class:"dashed-line-1"%>
              </div>
            </div>

            <div class="hiw-item d-flex align-items-center">
              <div class="hiw-icon">
                <%= image_tag "icon_hiw_step_2.svg" %>
              </div>
              <div class="hiw-text text-left">
                <p>Get matched with another Pal online and start the video call</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block">
                <%= image_tag "hiw_dashed_line_step_2.svg", class:"dashed-line-2"%>
              </div>
            </div>

            <div class="hiw-item d-flex align-items-center justify-content-end">
              <div class="hiw-icon order-md-3">
                <%= image_tag "icon_hiw_step_3.svg" %>
              </div>
              <div class="hiw-text text-left order-md-2">
                <p>Switch roles between interviewer & interviewee</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block order-md-1"></div>
            </div>

            <div class="hiw-item d-flex align-items-center">
              <div class="hiw-icon">
                <%= image_tag "icon_hiw_step_4.svg" %>
              </div>
              <div class="hiw-text text-left">
                <p>Get feedback to improve and then nail your next real interview!</p>
              </div>
              <div class="hiw-line d-none d-md-inline-block">
              <%= image_tag "hiw_dashed_line_step_4.svg", class:"dashed-line-3"%>
              </div>
            </div>

          </div>
      </div>
    </div>
</section>

<section class="top-blog-articles article-1 bg-primary-100">
  <div class="container d-flex">
    <div class="row my-auto">
      <div class="col-md-6 align-self-center py-5">
        <h1 class="display-3">Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ullam at natus obcaecati, rem qui facilis quae doloribus repellendus a.</p>
        <a href="about.html" class="btn btn-antje btn-outline-primary btn-outline-primary-antje btn-lg">Read</a>
      </div>
    </div>
  </div>
</section>

<section id="blog-articles">
  <div class="container d-flex">
    <div class="row justify-content-center my-auto">

      <div class="col-md-3">
        <div class="card blog-article-card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Blog Article</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card blog-article-card">
          <img class="card-img-top" src=https://images.unsplash.com/photo-1498712938623-d2bee166c195?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Blog Article</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card blog-article-card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1459499362902-55a20553e082?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1910&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Blog Article</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card blog-article-card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Blog Article</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-antje btn-outline-secondary btn-outline-secondary-antje">Read</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bg-primary-100 top-blog-articles article-2">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-end my-auto">
      <div class="col-md-6 py-5">
        <h1 class="display-3">Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ullam at natus obcaecati, rem qui facilis quae doloribus repellendus a.</p>
        <a href="about.html" class="btn btn-antje btn-outline-primary btn-outline-primary-antje btn-lg">Read</a>
      </div>
    </div>
  </div>
</section>

<section id="footer" class="bg-primary">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-center text-center my-auto">
      <div class="col-md-6">
      <h1 class="display-3">Sign Up</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ullam at natus obcaecati, rem qui facilis quae doloribus repellendus a.</p>
        <%= simple_form_for(@user, as: :user, url: registration_path(:user)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        placeholder: 'Email',
                        label: false
                        %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{6} Characters Minimum" if 6),
                        input_html: { autocomplete: "new-password" },
                        placeholder: 'Password',
                        label: false
                        %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: 'Confirm Password',
                        label: false
                        %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-antje btn-secondary btn-secondary-antje btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
