<section id="instruction-hero" class="bg-circle">
    <div class="hero-img">
      <%= image_tag "halfcircle_home_hero.svg", class:"circle-home-hero"%>
    </div>
    <div class="container d-flex align-items-center">
    <div class="row align-items-center">
      <div class="col-md-6 px-5">
        <h1 class="display-3">Instructions</h1>
        <p>Get to know how simple it works and become a Pro at being interviewed</p>
      </div>
      <div class="col-md-6 px-5">
        <%= image_tag "laptop.png", class: "instruction-img"%>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-5 d-flex align-items-center">
    <div class="row align-items-center">
      <div class="col-md-6">
        <%= image_tag "laptop.png", class: "instruction-img"%>
      </div>
      <div class="col-md-6 px-5">
        <h1 class="display-3">Sign Up!</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque doloremque distinctio veniam quam nisi similique aperiam fugiat. Vel, aliquam corrupti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit velit esse dolores neque, voluptate quasi perspiciatis quos, commodi ad harum ipsum quod est asperiores enim cum. Distinctio sunt hic velit!</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-end my-auto">
      <div class="col-md-6 align-self-center p-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cupiditate? Architecto adipisci omnis in laudantium doloribus dignissimos voluptas laborum praesentium?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit labore aliquid, dolores ducimus iusto fugiat!</p>
      </div>
      <div class="col-md-6 pt-5">
        <%= image_tag "screenshot_videocall-8.png", class: "bg-white bg instruction-img shadow-lg mb-5 rounded"%>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-5 d-flex align-items-center">
    <div class="row align-items-center">
      <div class="col-md-6 align-self-center p-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, cupiditate? Architecto adipisci omnis in laudantium doloribus dignissimos voluptas laborum praesentium?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit labore aliquid, dolores ducimus iusto fugiat!</p>
      </div>
      <div class="col-md-6 align-self-center p-5">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque doloremque distinctio veniam quam nisi similique aperiam fugiat. Vel, aliquam corrupti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit velit esse dolores neque, voluptate quasi perspiciatis quos, commodi ad harum ipsum quod est asperiores enim cum. Distinctio sunt hic velit!</p>
      </div>
    </div>
  </div>
</section>

<section>
    <%= image_tag "https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80", class: "img-fluid"%>
</section>
