<div class="profile-container mt-5" data-controller="chart" data-chart-infodata-value="<%= @scores.values %>">
  <div class="dashboard-head">
    <div><%= render "shared/userinfo" %></div>
    <div><%= render "shared/readiness_card" %></div>
  </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= "active" if params[:tab].blank? %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="<%= params[:tab].blank? %>">Dashboard</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= "active" if params[:tab] == "history" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="<%= params[:tab] == "history" %>">History</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= "active" if params[:tab] == "profile" %>" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="<%= params[:tab] == "profile" %>">Profile</button>
      </li>

  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade <%= "show active" if params[:tab].blank? %> " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

       <!-- Tab1: dashboard //-->
      <div class="space-between">
        <div><h3 class="mt-5 ms-3 mb-3"><%= image_tag "stats.svg", class:"me-2" %> Your stats</h3></div>
        <div style="display:flex" class="me-3"><h3 class="mt-5 ms-3">Total calls: <%= current_user.feedbacks_as_receiver.length %> </h3>  <%= image_tag "calls.svg", class:"call-image me-3 ms-3" %></div>
      </div>
      <div class="card mb-5">
        <div class="card-text p-4">
         <h5 class="mt-4 ms-1 mb-4">Your pal's impressisons of you on average</h5>
         <hr>

        <!-- average stars  //-->
        <%= render "feedbacks/average_dashboard" %>
        <!-- average stars closes  //-->
          <h5 class="mt-5 ms-2">Same as a graph:</h5>
          <hr>
        <!-- graph  //-->
          <div class="dashboard-chart"><canvas data-chart-target="acquisitions" id="acquisitions"></canvas></div>
          <%# <div class="dashboard-chart"><canvas data-chart-target="radar" id="radar"></canvas></div> %>

        <!-- graph ends  //-->



        </div>
      </div>

      <!-- end of Tab1: dashboard //-->

    </div>

    <div class="tab-pane fade <%= "active show" if params[:tab] == "history" %>" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

     <!-- Tab2: history //-->
     <% if current_user.feedbacks_as_receiver.present? %>
      <h4 class="mt-5 ms-3">You have nailed <%= current_user.feedbacks_as_receiver.length %> interviews so far, way to go!</h4>
      <% else %>
      <h4 class="mt-5 ms-3">Time to start practicing, make your mum proud!</h4>
      <% end %>
      <br>
      <!-- looped card creation //-->
      <%= render "feedbacks/feedback_history_card" %>
      <!-- looped card creation end //-->
      <!-- end of Tab2: history //-->

    </div>

    <div class="tab-pane fade <%= "active show" if params[:tab] == "profile" %>" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

     <!-- Tab3: profile//-->
      <div class="profile-tite-edit">
        <div>
          <h3 class="mt-5 ms-3 mb-3"><%= image_tag "work.svg", class:"me-2" %> My work experience</h3></div>
          <% frame_id = dom_id(current_user, "work_experience") %>
          <%= turbo_frame_tag "edit_work_experience" do %>
            <div class="mb-3 mt-5 me-3 space-between flex-end deletion"><%= render "shared/edit", path: edit_profile_work_experience_path, turbo_frame: frame_id %></div>
          <% end %>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4 pb-1">

          <!-- rb work start, change to current in production //-->
          <%= turbo_frame_tag frame_id do %>
          <p><%= current_user.work_experience %></p>
          <% end %>
          <!-- <p><%= User.first.work_experience %></p> //-->

          <!-- rb work end //-->

          </div>
        </div>

       <div class="profile-tite-edit">
        <div>
          <h3 class="ms-3 mb-3"><%= image_tag "education.svg", class:"me-2" %> My education</h3></div>
          <% frame_id = dom_id(current_user, "education") %>
          <%= turbo_frame_tag "edit_education" do %>
            <div class="mb-3 me-3 space-between flex-end deletion"><%= render "shared/edit", path: edit_profile_education_path, turbo_frame: frame_id %></div>
          <% end %>
        </div>

        <div class="card mb-5">
          <div class="card-text p-4 pb-1">

          <!-- rb education start //-->
          <%= turbo_frame_tag frame_id do %>
          <p> <%= current_user.education %> </p>
          <% end %>
          <!-- rb education end //-->

          </div>
        </div>

        <div class="profile-tite-edit">
        <div>
          <h3 class="ms-3 mb-3"><%= image_tag "info.svg", class:"me-2" %> Other info</h3></div>
          <% frame_id = dom_id(current_user, "extra_info") %>
          <%= turbo_frame_tag "edit_extra_info" do %>
          <div class="mb-3 me-3 space-between flex-end deletion"><%= render "shared/edit", path: edit_profile_extra_info_path, turbo_frame: frame_id %></div>
          <% end %>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4 pb-1">

          <!-- rb education start //-->
          <%= turbo_frame_tag frame_id do %>
          <p><%= current_user.extra_info %></p>
          <% end %>
          <!-- rb education end //-->

          </div>
        </div>
      <!-- end of Tab3: profile//-->

    </div>
  </div>
</div>
