<div class="profile-container mt-5">
  <div class="dashboard-head">
    <div><%= render "shared/userinfo" %></div>
    <div><%= render "shared/readiness_card" %></div>
  </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Dashboard</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">History</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Profile</button>
      </li>

  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

       <!-- Tab1: dashboard //-->
      <div class="space-between">
        <div><h3 class="mt-5 ms-3 mb-3"><%= image_tag "stats.svg", class:"me-2" %> Your stats on average</h3></div>
        <div style="display:flex" class="me-3"><h3 class="mt-5 ms-3">Total calls: 15 </h3>  <%= image_tag "calls.svg", class:"call-image me-3 ms-3" %></div>
      </div>
      <div class="card mb-5">
        <div class="card-text p-4">

              <!-- single quality block //-->
              <div class="container">
                <div class="row align-items-end">
                   <div class="col-2">
                    Friendliness: 3.5
                  </div>
                  <div class="col-2">
                    <%= image_tag "stats.svg" %> <%= image_tag "stats.svg" %> <%= image_tag "stats.svg" %> <%= image_tag "stats.svg" %> <%= image_tag "stats.svg" %>
                  </div>
                  <div class="col">
                    Way to go!
                  </div>
                </div>
             </div>
            <!-- single quality block end //-->

        </div>
      </div>

      <!-- end of Tab1: dashboard //-->

    </div>

    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

     <!-- Tab2: history //-->
      <h3 class="mt-5 ms-3">You have nailed 15 interviews so far, way to go!</h3>
      <br>

      <!-- looped card creation //-->
        <%= @my_array  %>


        <div class="card mb-5">
        <div class="card-title ps-4 pe-4 pt-4 pb-2"><h5>01.02.2023 19:00</h5>
          </div>
          <div class="card-text ps-4 pe-4 pb-4"> <%= %>
          </div>
        </div>



      <!-- looped card creation end //-->





      <!-- end of Tab2: history //-->

    </div>

    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

     <!-- Tab3: profile//-->
      <div class="profile-tite-edit">
        <div>
          <h3 class="mt-5 ms-3 mb-3"><%= image_tag "work.svg", class:"me-2" %> My work experience</h3></div>
          <div class="mb-3 mt-5 me-3 space-between flex-end"><%= render "shared/edit" %></div>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4 pb-1">

          <!-- rb work start, change to current in production //-->

           <p><%= current_user.work_experience %></p>
          <!-- <p><%= User.first.work_experience %></p> //-->

          <!-- rb work end //-->

          </div>
        </div>

       <div class="profile-tite-edit">
        <div>
          <h3 class="ms-3 mb-3"><%= image_tag "education.svg", class:"me-2" %> My education</h3></div>
          <div class="mb-3 me-3 space-between flex-end"><%= render "shared/edit" %></div>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4 pb-1">

          <!-- rb education start //-->

          <p><%= current_user.education %></p>

          <!-- rb education end //-->

          </div>
        </div>

        <div class="profile-tite-edit">
        <div>
          <h3 class="ms-3 mb-3"><%= image_tag "info.svg", class:"me-2" %> Other info</h3></div>
          <div class="mb-3 me-3 space-between flex-end"><%= render "shared/edit" %></div>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4  pb-1">

          <!-- rb education start //-->

          <p><%= current_user.extra_info %></p>

          <!-- rb education end //-->

          </div>
        </div>
      <!-- end of Tab3: profile//-->

    </div>
  </div>
</div>
