<div class="profile-container mt-5 mb-5" data-controller="chart" data-chart-infodata-value="<%= @scores.values %>">
  <div class="dashboard-head">
    <div><%= render "shared/userinfo" %></div>
    <div><%= render "shared/readiness_card" %></div>
  </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= "active" if params[:tab].blank? %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="<%= params[:tab].blank? %>">Dashboard</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= "active" if params[:tab] == "history" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="<%= params[:tab] == "history" %>">History</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= "active" if params[:tab] == "profile" %>" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="<%= params[:tab] == "profile" %>">Profile</button>
      </li>

  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade <%= "show active" if params[:tab].blank? %> " id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <% unless current_user.feedbacks_as_receiver.present? %>
      <div style="width:100%;text-align:center"><h5 class="mt-5 mb-4" style="line-height:1.5;margin:auto">You have not had any calls yet, so your dashboard is empty.<br> Time to start practicing, make your mum proud!</h5></div>
      <% end %>
       <!-- Tab1: dashboard //-->
      <div class="space-between">
        <div><h3 class="mt-5 ms-3 mb-3"><%= image_tag "stats.svg", class:"me-2" %> My stats</h3>
      </div>
        <div style="display:flex" class="me-3"><h3 class="mt-5 ms-3">Total calls: <%= current_user.feedbacks_as_receiver.length %> </h3>  <%= image_tag "calls.svg", class:"call-image me-3 ms-3" %></div>
      </div>
      <div class="card mb-5">
        <div class="card-text p-4">
         <h5 class="mt-4 ms-1 mb-4">Your pal's impressisons of you on average</h5>
         <hr>

        <!-- average stars  //-->
        <%= render "feedbacks/average_dashboard" %>
        <!-- average stars closes  //-->
          <h5 class="mt-5 ms-2">Graph</h5>
          <hr>
        <!-- graph  //-->
          <div class="dashboard-chart"><canvas data-chart-target="acquisitions" id="acquisitions"></canvas></div>
          <%# <div class="dashboard-chart"><canvas data-chart-target="radar" id="radar"></canvas></div> %>

        <!-- graph ends  //-->



        </div>
      </div>

      <!-- end of Tab1: dashboard //-->

    </div>

    <div class="tab-pane fade <%= "active show" if params[:tab] == "history" %>" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

     <!-- Tab2: history //-->

     <% unless current_user.feedbacks_as_receiver.present? %>
      <div style="width:100%;text-align:center"><h5 class="mt-5 mb-4" style="line-height:1.5;margin:auto">You have not had any calls yet, so your dashboard is empty.<br> Time to start practicing, make your mum proud!</h5></div>
      <% else %>
      <h5 class="mt-5 ms-3">You have nailed <%= current_user.feedbacks_as_receiver.length %> interviews so far, way to go!</h5>
      <% end %>
      <br>
      <!-- looped card creation //-->
      <%= render "feedbacks/feedback_history_card" %>
      <!-- looped card creation end //-->
      <!-- end of Tab2: history //-->

    </div>

    <div class="tab-pane fade <%= "active show" if params[:tab] == "profile" %>" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

     <!-- Tab3: profile//-->
      <div class="profile-tite-edit">
        <div>
          <h3 class="mt-5 ms-3 mb-3"><%= image_tag "work.svg", class:"me-2" %> My work experience</h3></div>
          <% frame_id = dom_id(current_user, "work_experience") %>
          <%= turbo_frame_tag "edit_work_experience" do %>
            <div class="mb-3 mt-5 me-3 space-between flex-end deletion"><%= render "shared/edit", path: edit_profile_work_experience_path, turbo_frame: frame_id %></div>
          <% end %>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4 pb-4">


          <!-- rb work start, change to current in production //-->
          <%= turbo_frame_tag frame_id do %>
          <% if current_user.work_experience.nil? && current_user.rich_work_experience.nil? %>
            <span class="inactive">Click on "edit" button above this field to input your info</span>
          <% end  %>
          <%= current_user.rich_work_experience %>
          <% end %>
          <!-- <p><%= User.first.work_experience %></p> //-->

          <!-- rb work end //-->

          </div>
        </div>

       <div class="profile-tite-edit">
        <div>
          <h3 class="ms-3 mb-3"><%= image_tag "education.svg", class:"me-2" %> My education</h3></div>
          <% frame_id = dom_id(current_user, "education") %>
          <%= turbo_frame_tag "edit_education" do %>
            <div class="mb-3 me-3 space-between flex-end deletion"><%= render "shared/edit", path: edit_profile_education_path, turbo_frame: frame_id %></div>
          <% end %>
        </div>

        <div class="card mb-5">
          <div class="card-text p-4 pb-4">


          <!-- rb education start //-->
          <%= turbo_frame_tag frame_id do %>
          <% if current_user.education.nil? && current_user.rich_education.nil? %>
            <span class="inactive">Click on "edit" button above this field to input your info</span>
          <% end  %>
          <%= current_user.rich_education %>
          <% end %>
          <!-- rb education end //-->

          </div>
        </div>

        <div class="profile-tite-edit">
        <div>
          <h3 class="ms-3 mb-3"><%= image_tag "info.svg", class:"me-2" %> Other info</h3></div>
          <% frame_id = dom_id(current_user, "extra_info") %>
          <%= turbo_frame_tag "edit_extra_info" do %>
          <div class="mb-3 me-3 space-between flex-end deletion"><%= render "shared/edit", path: edit_profile_extra_info_path, turbo_frame: frame_id %></div>
          <% end %>
        </div>
        <div class="card mb-5">
          <div class="card-text p-4 pb-4">


          <!-- rb education start //-->
          <%= turbo_frame_tag frame_id do %>
          <% if current_user.extra_info.nil? && current_user.rich_extra_info.nil? %>
            <span class="inactive">Click on "edit" button above this field to input your info</span>
          <% end  %>
          <%= current_user.rich_extra_info %>
          <% end %>
          <!-- rb education end //-->

          </div>
        </div>

      <!-- end of Tab3: profile//-->

    </div>
      <div style="width:100%;text-align:center" class="mt-5 mb-5"><h5 style="margin:auto">Keep going, keep yor mum impressed 💚 </h5></div>
  </div>

</div>


 <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="modalLabel">We have found your Pal!</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="click->toggle-switch#deactivateBtn"></button>
                    </div>
                    <div class="modal-body">
                    Are your ready to start the call?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary btn-outline-secondary-antje" data-action="click->toggle-switch#deactivateBtn" data-bs-dismiss="modal">Close</button>
                      <%= link_to 'Start Video Call', new_videocall_path, class:"btn btn-secondary btn-secondary-antje" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
