 <h6 class="ms-2"><%= image_tag "visual_apparance.svg", class:"me-2" %><strong>Visual</strong></h6>

 <!-- single quality block //-->
<div class="container">
  <div class="row align-items-end">
      <div class="col-4">

      Overall impression: <%= @scores[:overall_impression].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:overall_impression].round(2)   %>
    </div>
    <div class="col">
    <span class="tip"><%= @text_overall %></span>

    </div>
  </div>
</div>
<!-- single quality block end //-->

<!-- single quality block //-->
<div class="container  mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Eye contact: <%= @scores[:eye_contact].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:eye_contact].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_eye_contact %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Professional appearance: <%= @scores[:professional_appearance].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:professional_appearance].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_professional_appearance %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Body language: <%= @scores[:body_language].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:body_language].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_body_language %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->



<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Verbal communication: <%= @scores[:verbal_communication].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:verbal_communication].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_verbal_communication %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->

 <h6 class="ms-2 mt-5"><%= image_tag "professional_appearance.svg", class:"me-2 mb-1" %> <strong>Professional</strong></h6>



<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Your background presentation: <%= @scores[:background_presentation].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:background_presentation].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_background_presentation %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Enthusiasm: <%= @scores[:enthusiasm].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:enthusiasm].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_enthusiasm %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Hireability: <%= @scores[:hireability].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:hireability].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_hireability %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Problem Solving skills: <%= @scores[:problem_solving].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:problem_solving].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_problem_solving %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->

<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Confidence: <%= @scores[:confidence].round(2) %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @scores[:confidence].round(2)  %>
    </div>
    <div class="col">
     <span class="tip"> <%= @text_confidence %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->
