 <h6 class="ms-2"><%= image_tag "visual_apparance.svg", class:"me-2" %><strong>Visual</strong></h6>

 <!-- single quality block //-->
<div class="container">
  <div class="row align-items-end">
      <div class="col-4">

      Overall impression
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.overall_impression  %>
    </div>
    <div class="col">
    <span class="tip"> current average: <%= @scores[:overall_impression].round(2) %> </span>

    </div>
  </div>
</div>
<!-- single quality block end //-->

<!-- single quality block //-->
<div class="container  mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Eye contact <%= @eye_contact %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.eye_contact  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:eye_contact].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Professional appearance <%= @professional_appearance %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.professional_appearance  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:professional_appearance].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Body language <%= @body_language %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.body_language  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:body_language].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Verbal communication <%= @verbal_communication %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.verbal_communication  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:verbal_communication].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->
 <h6 class="ms-2 mt-5"><%= image_tag "professional_appearance.svg", class:"me-2 mb-1" %> <strong>Professional</strong></h6>


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Your background presentation <%= @background_presentation %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.background_presentation  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:background_presentation].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Enthusiasm <%= @enthusiasm %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.enthusiasm  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:enthusiasm].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Problem Solving skills <%= @problem_solving %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.problem_solving  %>
    </div>
    <div class="col">
     <span class="tip"> current average: <%= @scores[:problem_solving].round(2) %> </span>
    </div>
  </div>
</div>
<!-- single quality block end //-->



<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Hireability <%= @hireability %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.hireability  %>
    </div>
    <div class="col">
     <span class="tip">current average: <%= @scores[:hireability].round(2) %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->

<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
      <div class="col-4">

      Confidence <%= @confidence %>
    </div>
    <div class="col-3">
      <%= render "feedbacks/star_rating", amount: @feedback.confidence  %>
    </div>
    <div class="col">
     <span class="tip">current average: <%= @scores[:confidence].round(2) %></span>
    </div>
  </div>
</div>
<!-- single quality block end //-->
 <h6 class="ms-2 mt-5"><%= image_tag "comment.svg", class:"me-2 mb-1" %> <strong>Your Pal's observations</strong></h6>


<!-- single quality block //-->
<div class="container mt-3">
  <div class="row align-items-end">
    <div class="col">
      <div class="mt-2"><%= @feedback.written_feedback  %></div>

    </div>
  </div>
</div>
<!-- single quality block end //-->
