<h2>Great job! Now give feedback to your pal</h2>

<%= simple_form_for [@video_call, @feedback] do |f| %>
  <div>
    <%= f.input :overall_impression, input_html: { class: 'my-form-class' }, label: 'What was your overall impression?', as: :radio_buttons %>
    <%= f.input_field 1..5, class: 'my-form-class' %>
  </div>
  <%= f.input :eye_contact %>
  <%= f.input :background_presentation %>
  <%= f.input :problem_solving %>
  <%= f.input :verbal_communication %>
  <%= f.input :body_language %>
  <%= f.input :enthusiasm %>
  <%= f.input :professional_appearance %>
  <%= f.input :hireability %>
  <%= f.input :confidence %>
  <%= f.input :written_feedback %>
  <%= f.submit %>
<% end %>
