<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('logo_careerPal_white.svg') %>
    <title>CareerPal: get the job, impress your mum!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="CareerPal: We help to prepare developers for their first job interview with real life practice" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content=": We help to prepare developers for their first job interview with real life practice" />
    <meta property="og:image" content="https://memymilk.com/wp-content/uploads/2023/03/cover.jpg" />
    <meta property="og:url" content="https://www.careerpal.me" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>


    <div class="container-fluid p-0">
      <%= yield %>
    </div>



  </body>
</html>
